{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <!-- Add your page-specific content here -->
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'business_people_efficiency.jpg' %}" class="card-img-top" alt="Efficiency Image">
                <div class="card-body">
                    <h4 class="card-header">Efficiency</h4>
                    <p class="card-text">Our World Bank  project ensures efficient banking operations, providing quick and reliable services to our users.</p>
                </div>
            </div>
        </div>


        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'business_people_security.jpg' %}" class="card-img-top" alt="Security Image">
                <div class="card-body">
                    <h4 class="card-header">Security</h4>
                    <p class="card-text">We prioritize the security of your financial transactions. Our robust security measures keep your data safe and secure.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <img src="{% static 'business_people_innovation.jpg' %}" class="card-img-top" alt="Innovation Image">
                <div class="card-body">
                    <h4 class="card-header">Innovation</h4>
                    <p class="card-text">Experience innovation in banking with our Banking project. We constantly strive to bring you the latest features and technologies.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Middle Card with Mission Statement -->
    <div class="col-lg-12 mb-4">
        <div class="card h-100">
            <img src="{% static 'business_people_mission.jpg' %}" class="card-img-top" alt="Mission Image">
            <div class="card-body">
                <h4 class="card-header">Our Mission</h4>
                <p class="card-text">At World Bank, our mission is to revolutionize the banking industry by providing innovative solutions that empower individuals and businesses to achieve financial success.</p>
            </div>
            <div class="card-footer">
                <p class="card-text">Accolades and Achievements:</p>
                <ul>
                    <li>Winner of the Innovation in Banking Award</li>
                    <li>Recognized for Outstanding Security Measures</li>
                    <li>Rated as the Most Efficient Banking System</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Button to redirect to the login page -->
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'login' %}">Login</a>
    </div>
{% endblock %}
